# Mac OS
.DS_Store

# Editors
.vs/
.vscode/
.devcontainer/
*.un~

# CMake User Preset
CMakeUserPresets.json

# Build directories
build/

# Packaging directories
packaging/windows/nsis/assets/

# Cmake exceptions
CMakeFiles/
